.header{
    padding: 45px 0 55px;
}

.header_row{
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.header_logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header_logo span{
    font-weight: 900;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header_nav ul{
    display: flex;
    align-items: center;
    gap: 60px;
}

.header_nav a{
    color: black;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.01em;
}

.sign_up, a.sign_up{
    background-color: rgb(0, 0, 0);
    border-radius: 7px;
    padding: 13px 22px 17px;
    color: white;
}