.footer{
    display: flex;
    align-items: center;
    padding: 0 200px 0 100px;
    background-color: black;
    height: 545px;
}

.footer_content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer_title{
    font-weight: 900;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: white;
    padding-bottom: 20px;
}

.footer_desc{
    max-width: 415px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #8E8E8E;
}

.footer_socials{
    display: flex;
    gap: 15px;
    padding-top: 30px;
}

.right_footer{
    display: flex;
    gap: 100px;
}

.footer_links{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer_links span{
    color: #D9D9D9;
}

.footer_links a {
    text-decoration: none;
    color: #8E8E8E;
}